[submodule "halfband_interpolator"]
	path = halfband_interpolator
	url = git@github.com:Chisel-blocks/halfband_interpolator.git
[submodule "cic3_interpolator"]
	path = cic3_interpolator
	url = git@github.com:Chisel-blocks/cic3_interpolator.git
